{% extends "base.html" %}


{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <h2>About nanoTDCR database</h2>
        <p>The database currently supports files for nanoTDCR with <b>Firmware Version 3.00</b>
           and <b>FPGA Version 3.6</b><br>
           The project code can be found at: <a href="https://github.com/cdutsov/tdcr_analysis-v2" target="_blank">GitHub</a><br>
           If you encounter any problems with upload/export please use latest browser versions.<br>
           If the problem persists contact Chavdar Dutsov via e-mail:
            <a href="mailto:chavdar.dutsov@gmail.com" target="_blank">chavdar.dutsov@gmail.com</a><br>
        <p class="text-muted">Website last modified: {{ modified }}<br>
                              Server uptime: {{ uptime }}<br>
                              Apache2 last restarted: {{ apache_uptime }}</p></p>
    </div>
{% endblock %}