{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
    {{ super() }}
{% endblock %}

{% block head_css %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/mystyles.css" rel="stylesheet">
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block head %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ current_user.username }}</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/admin/measurement">Measurement</a></li>
                    <li><a href="/admin/cocktail">Cocktail</a></li>
                    <li><a href="/admin/myfileadmin">Files</a></li>
                    {% if current_user.username == 'admin' %}
                        <li><a href="/admin/user">User</a></li>
                    {% endif %}
                    <li><a href="/logout">Log out</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

{% endblock %}

{% block page_body %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="content">
                    {% block brand %}
                        <h2 id="brand">{{ admin_view.name|capitalize }}</h2>
                        <div class="clearfix"></div>
                    {% endblock %}
                    {{ layout.messages() }}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script>
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    </script>
{% endblock %}