<!DOCTYPE html>
<html lang="en">
<head>
    <title>TDCR analysis tool</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/mystyles.css" rel="stylesheet">
    {#    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">#}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <link rel="stylesheet" href="/resources/demos/style.css">#}
    {#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ current_user.username }}</a>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/admin/measurement">Database</a></li>
                <li><a href="/change_db">Modify</a></li>
                <li><a href="/logout">Log out</a></li>
                <li><a href="/about">About</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="col-md-12">
    <footer class="footer navbar-fixed-bottom">
        <div>

            <p class="text-muted"><a href="https://www.uni-sofia.bg/index.php/eng" target="_blank">
                <img width="60px" src="./static/images/SU_Logo.png"></a>
                Sofia University "St. Kliment Ohridski", Faculty of Physics, 2017</p>
        </div>
    </footer>
</div>

{% block scripts %}
    <script>
        $SCRIPT_ROOT =
        {{ request.script_root|tojson|safe }}
    </script>
{% endblock %}
</html>
