<!DOCTYPE html>
<html lang="en">
<head>
    <title>TDCR analysis tool</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/mystyles.css" rel="stylesheet">
    {#    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">#}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ current_user.username }}</a>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/admin/measurement">Database</a></li>
                <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="col-md-12">
    <footer class="footer navbar-fixed-bottom">
        <div>

            <p class="text-muted"><a href="/"><img width="60px" src="./static/images/SU_Logo.png"></a>
                Sofia University "St. Kliment Ohridski", Faculty of Physics, 2017</p>
        </div>
    </footer>
</div>

{% block scripts %} {% endblock %}
</html>
