{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        <h2>Delete series</h2>
        <form method="post" id="delete_form" class="form-horizontal">
            <div class="form-group form-inline">
                <label class="col-sm-2 control-label" for="series_name"> Series name</label>
                <div class="col-sm-10">
                    {{ delete_form.series_name(id="series_name",
                        placeholder="Series name", list="series_name_vals", class_="form-control col-sm-10") }}
                    <datalist id="series_name_vals">
                        {% for choice in delete_form.series_choices %}
                            <option value="{{ choice }}">
                        {% endfor %}
                    </datalist>
                    <button class="btn btn-danger checked" type="submit" id="delete_button">
                        <i class="glyphicon glyphicon-download"></i> Delete
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-6">
        <h2>Delete measurement from series</h2>
        <form method="post" id="delete_meas_form" class="form form-horizontal">
            <div class="form-group form-inline">
                <label class="col-sm-2 control-label" for="meas_series_name"> Series name</label>
                <div class="col-sm-10">
                    {{ delete_meas_form.meas_series_name(id="meas_series_name",
                        placeholder="Series name", list="meas_series_name_vals", class_="form-control col-sm-10") }}
                    <datalist id="meas_series_name_vals">
                        {% for choice in delete_meas_form.meas_series_choices %}
                            <option value="{{ choice }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label" for="meas_name"> Measurement name</label>
                    <div class="col-sm-10">
                        {{ delete_meas_form.meas_name(id="meas_name",
                        placeholder="Measurement name", list="meas_name_vals", class_="form-control col-sm-10") }}
                        <datalist id="meas_name_vals">
                            {% for choice in delete_meas_form.meas_choices %}
                                <option value="{{ choice }}">
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-danger checked" type="submit" id="delete_meas_button"
                                onclick="delete_meas_button_press()">
                            <i class="glyphicon glyphicon-download"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        $(document).ready(
            $("#delete_button").click(function (e) {
                e.preventDefault();
                var dialog = $('<p>Are you sure? This will delete the whole series!</p>').dialog({
                    buttons: {
                        "Yes": function () {
                            $.ajax({
                                url: $SCRIPT_ROOT + '/_delete_series',
                                type: 'GET',
                                data: {
                                    series_name: $('input[name="series_name"]').val()
                                    },
                                dataType: 'json',
                                error: function () {
                                    alert("An error occured while deleting the series!")
                                },
                                success: function () {
                                    dialog.dialog('close');
                                    location.reload();
                                }
                            });
                        },
                        "Cancel": function () {
                            dialog.dialog('close');
                            location.reload();
                        }
                    }
                });
                return false;
            }));

        $(document).ready(
            $("#delete_meas_button").click(function (e) {
                e.preventDefault();
                var dialog = $('<p>Are you sure? This will delete measurement!</p>').dialog({
                    buttons: {
                        "Yes": function () {
                            $.ajax({
                                url: $SCRIPT_ROOT + '/_delete_meas_from_series',
                                type: 'GET',
                                data: {
                                    meas_series_name: $('input[name="meas_series_name"]').val(),
                                    meas_name: $('input[name="meas_name"]').val()
                                },
                                dataType: 'json',
                                error: function () {
                                    alert("An error occured while deleting the measurement")
                                },
                                success: function () {
                                    dialog.dialog('close');
                                    location.reload();
                                }
                            });

                        },
                        "Cancel": function () {
                            dialog.dialog('close');
                            location.reload();

                        }
                    }
                });
                return false;
            }));

        var selected_items = {};
        const delete_meas_form = $('#delete_meas_form');
        $(document).ready(function () {
            delete_meas_form.bind("change input", function (e) {
                selected_items["#" + e.target.id] = e.target.value;
                $.getJSON($SCRIPT_ROOT + '/_delete_meas_form_data', {
                    meas_series_name: $("#meas_series_name").val(),
                }, function (data) {
                    var arr = {
                        "#meas_name_vals": data.meas_name_vals,
                        "#meas_series_name_vals": data.meas_series_name_vals
                    };
                    for (var key in selected_items) {
                        if (selected_items[key] == '') {
                            delete selected_items[key]
                        }
                    }
                    for (var key in arr) {
                        var $el = $(key);
                        $el.find('option').remove();
                        $.each(arr[key], function (key, value) {
                            $el.append($("<option></option>").attr("value", value).text(value));
                        });
                    }
                });
                return false;
            });
            delete_meas_form.trigger('change');
        });
    </script>
{% endblock %}